BETTER_AUTH_SECRET=secret-phrase
BETTER_AUTH_URL=http://localhost:5173/api/auth
POLAR_ACCESS_TOKEN=your-polar-access-token
POLAR_WEBHOOK_SECRET=your-polar-webhook-secret
POLAR_PRO_PRODUCT_ID=your-polar-pro-product-id
LOCAL=true
